#API
BACKEND_API_URL="http://localhost:8080"
#JWT ACCESS TOKEN SECRET
JWT_ACCESS_SECRET=
#JWT REFRESH TOKEN SECRET
JWT_REFRESH_SECRET=
#JWT ACCESS EXPIRES IN
JWT_ACCESS_EXPIRES_IN=1d
#JWT REFRESH EXPIRES IN
JWT_REFRESH_EXPIRES_IN=7d